body {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: animation 16s ease-in-out infinite;
    background-size: cover;
}

.outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.5);
}

.details {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
    margin: 30px auto;
    background-color: rgba(252, 154, 154, 0.2);
    padding: 30px;
    margin: auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 40px;

}

label {
    color: white;
    font-size: x-large;
}


#salary {
    height: 100% ;
    width: 90%; 
     margin: 5px;
    padding: 5px ;
}

input{
    height: 21px !important;
}
button{
    height: 33px !important;
    width: 40% !important;
    margin-top: 5% !important;
    border-radius: 17% !important;
}

@keyframes animation {

    0%,
    100% {
        background-image: url(./image/1.png);
    }

    10% {
        background-image: url(./image/2.jpg);
    }

    20% {
        background-image: url(./image/3.jpg);
    }

    30% {
        background-image: url(./image/4.jpg);
    }

    40% {
        background-image: url(./image/5.jpg);
    }

    50% {
        background-image: url(./image/6.avif);
    }

    60% {
        background-image: url(./image/7.jpg);
    }

    70% {
        background-image: url(./image/8.jpg);
    }

    80% {
        background-image: url(./image/9.avif);
    }

    90% {
        background-image: url(./image/10.avif);
    }
}