*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    height: 100% !important;

    background-image: url(https://static.vecteezy.com/system/resources/previews/039/074/137/non_2x/ai-generated-minimilast-black-color-music-abstract-background-with-large-copyspace-area-with-copy-space-for-text-free-photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    
}
.b{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

.hedphone{
    margin-top: -400%;
    margin-left: 150%;
}

.bs{
    height: 500px;
    width: 900px;
    margin-left: 5%;
    background-color: transparent !important;
}

#btt{
    margin-top: 100%;
    margin-left: -55% !important;
}

.bs1{
    margin-top: -150% !important;
    margin-left: 100% !important;
    height: 235px !important;
    width: 235px !important;
    border-radius: 50%;
    
}


.bs2{
    margin-left: 90% !important;
    margin-top: -100% !important;
}

.back{
    height: 1000px;
    width: 2000px;
    margin-top: -1000px;
}

#btt1{
    margin-top: 25%;
    margin-right: 10%;
    margin-left: -17% !important;
    
}


#songPlayer{
    margin-right: 70% !important;
    margin-top:-35% !important ;
    /* background-color: black; */
    color: rgb(255, 255, 255);
}


.innerTwo{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.box{
    height: 350px;
    width: 350px;
}
.bt{
    height: 300px;
    width: 800px;
    background-color: white;
    overflow: hidden;
    overflow: scroll;
    gap: 10%;
}
.musics{
    margin-bottom: 5px;
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
}
.images{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.divMain{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}
.iconparent{
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
}




