* {
    margin: none;
    padding: none;
}

.Parent-1 {
    display: flex;
    justify-content: space-around;
    font-family: 'Nunito Sans', sans-serif;
}

.Parent-1 .box {
    height: 300px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    align-items: center;
    text-align: center;
}

.box .b1 {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.b1 .Contant {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}

#b1 .Contant {
    color: #afc8e7;
}

.b1 .Contant .icon {
    position: relative;
    top: 10px;
}

.b1 .Contant .Price {
    font-size: large;
}

.b1 .Contant .Price span {
    display: block;
    font-size: medium;
    color: red;
    text-decoration: line-through;
}

.box .image {
    height: 170px;
    width: 300px;
    border-radius: 5%;
}

.box #b1 {
    background-color: #7a7a7c;
    #text {
        color: #EDF1EF;
    }
}

.box #b2 {
    background-color: #d0bf6c;
    #text {
        color:#0b0b0b;
    }
}

.box #b3 {
    background-color: #f1f0ee;
    #text {
        color: #b2b4b1;
    }
    #Contant {
        color: #070709;
    }
}

.box #b4 {
    background-color: #c4c4c2;
    #text {
        color: #6a92b3;
    }
    #Contant {
        color: #1b2133;
    }
}

.box #b5 {
    background-color: #656d77;
    #text {
        color: #b4b9cc;
    }
    #Contant {
        color: #b4b9cc;
    }
}

#b1:hover {
    background-color: white;
    #text {
        color: black;
    }
    #Contant {
        color: black;
    }
}

#b2:hover {
    background-color: gold;
    #text {
        color: black;
    }
    #Contant {
        color: black;
    }
}

#b3:hover {
    background-color: grey;
    #text {
        color: white;
    }
    #Contant {
        color: white;
    }
}

#b4:hover {
    background-color: #6a92b3;
    #text {
        color: black;
    }
    #Contant {
        color: black;
    }
}

#b5:hover {
    background-color: #b4b9cc;
    #text {
        color: white;
    }
    #Contant {
        color: white;
    }
}