* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 
.btn{
    --primary-color: #f6a80d;
} */


#product div img {
    width: 300px;
    padding: 20px;
    height: 350px;

    margin-top: 17% !important;
}


#product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    text-align: center;
}

#product div {
    border: 1px solid var(--border-color);
    margin: 10px;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#product div button {
    width: 250px;
    padding: 10px;
    margin: 5px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 15px;
    color: white;
    font-size: medium;
    cursor: pointer;
    transition: all 0.3s ease;

    /* margin-top: 20px; */

}
/* 
#product div button btn2 {
    --primary-color: #000000;

} */

#product div button {
  display: inline;
  display: inline-block !important;
  align-self: start;
}
    


#product div button:hover {
    background-color: var(--primary-hover-color);
}


#product h3 {
    font-size: medium;
}

#product div p {
    color: rgb(38, 0, 255); 
    font-size: xx-large;
}


:root {
    --primary-color: #f6d70d;
    --primary-hover-color: #dbc900;
    --border-color: #ddd;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --gap: 15px;

    /* margin-bottom: 10px; */
}


  
  .cart-btn{
    border:none;
    background-color:#ff7a00;
    color:#fff;
    text-transform:uppercase;
    font-family:"Poppins", sans-serif;
    padding:1em 3em;
    cursor:pointer;
    border-radius:100px;
    display:flex;
    align-items:center;
    position:relative;
    overflow:hidden;
    box-shadow:0 5px 10px rgba(255,122,0,0.2);
  }
  
  .icon-container{
    position:relative;
    font-size:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:5px;
  }
  
  .icon-container::before,
  .icon-container::after{
    content:"";
    position:absolute;
    left:0;
    width:10px;
    height:4px;
    background-color:#fff;
    transform-origin:left;
    opacity:0;
  }
  
  .icon-container::before{
    top:0;
    transform:translateX(-130%);
  }
  
  .icon-container::after{
    bottom:0;
    transform:translateX(-70%);
  }
  
  .primary-text{
    transition:all 0.2s ease-in;
  }
  
  .secondary-text{
    position:absolute;
    width:100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0.5);
    text-align:center;
    opacity:0;
    transition:all 0.4s ease-in;
  }
  
  .cart-btn.clicked .fa-shopping-cart{
    animation:moveForwards 0.8s linear 0.2s forwards;
  }
  
  @keyframes moveForwards{
    35%{
      transform:translateX(4em) rotate(-10deg);
    }
    
    100%{
      transform:translateX(12em) rotate(-1deg);
      opacity:0;
    }
  }
  
  .cart-btn.clicked .primary-text{
    opacity:0;
  }
  
  .cart-btn.clicked .secondary-text{
    opacity:1;
    transform:translate(-50%,-50%) scale(1);
    transition-delay:0.8s;
  }
  
  .cart-btn.clicked .icon-container::before,
  .cart-btn.clicked .icon-container::after{
    animation:scale 0.6s ease-in 0.15s;
  }
  
  @keyframes scale{
    1%{
      opacity:1;
    }
    
    100%{
      opacity:0;
      transform:scaleX(16);
    }
  }
  
  
  

  .btnb{
    --primary-color: #f6a10d;
    --primary-hover-color: #ff7700;
    /* margin-top: -10px; */
    /* margin-bottom: -20px; */
    /* display: flex;
    justify-content: center !important;
    align-items: end !important; */
    margin-left: 18% !important;


    
  }


  .btnb1{
    margin-left: 18% !important;
  }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background: url(bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.5);
}
#chk1{
    display: none;
     
     
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color:#fff;
     
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: green;
    color: #fff;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }
  
}
