
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    background-color: #f4f4f4; 
    color: #333; 
}


body.dark-mode {
    background-color: #333; 
    color: #fff; 
}

body.dark-mode #add-task {
    background-color: #55bb55; 
}

body.dark-mode #add-task:hover {
    background-color: #45a049; 
}

body.dark-mode ul {
    background-color: #555;
}
body.dark-mode li {
    background-color: #777; 
    border: 1px solid #666; 
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: inherit;
}

#n-t {
    width: 70%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    font-size: 16px;
}

#add-task {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 70%;
    background-color: #fff; 
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    flex-grow: 1;
    cursor: pointer;
}

.delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
}

.delete:hover {
    background-color: #dd1919;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}


#toggle{
    float: inline-end;
    margin-top: 2%;
    margin-right: 2%;
}
.q{
    display: flex;
    justify-content: center;
    width: 100vw;
}
