*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    height: 100% !important;
}
.b{
    height: 100vh !important;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

.bs{
    height: 500px;
    width: 900px;
    margin-left: 60%;
}


.bs1{
    margin-top: -520px !important;
    margin-left: 543px !important;
    height: 235px !important;
    width: 235px !important;
    border-radius: 50%;
    
}


.bs2{
    margin-left: 80% !important;
    margin-top: 30% !important;
}



#btt1{
    margin-top: 25%;
    margin-right: 10%;
    margin-left: -17% !important;
    
}


#songPlayer{
    margin-right: 50% !important;
    margin-top:-16% !important ;
    background-color: black;
    color: rgb(255, 255, 255);
}


.innerTwo{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.box{
    height: 350px;
    width: 350px;
}
.bt{
    height: 300px;
    width: 800px;
    background-color: white;
    overflow: hidden;
    overflow: scroll;
    gap: 10%;
}
.musics{
    margin-bottom: 5px;
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
}
.images{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.divMain{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}
.iconparent{
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
}



